<div class="relative w-full overflow-hidden bg-blue-950 px-3 sm:px-4 py-2 sm:py-3">
    <div class="text-center text-white font-medium font-raleway text-xs sm:text-sm">
    *Disclaimer: All images and videos used on the website are for reference purposes only; we do not claim ownership or legal rights to any such content.
    </div>
</div>
