<div class="bg-indigo-950 text-white py-2 px-4 hidden md:block">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center text-sm">
    <div class="text-center md:text-left mb-2 md:mb-0">
      Vasai (E), Palghar - 400208, India.
    </div>

    <div class="text-center mb-2 md:mb-0">
      Email: info.vspharmatech@gmail.com | Contact: +91 8087 210 739
    </div>

    <div class="flex items-center space-x-4">
      <a href="#" class="hover:opacity-80 transition-opacity">
        <img
          src="/twitter-icon.png"
          alt="Twitter"
          class="w-5 h-5"
        />
      </a>
      <a href="#" class="hover:opacity-80 transition-opacity">
        <img
          src="/facebook-icon.png"
          alt="Facebook"
          class="w-5 h-5"
        />
      </a>
      <a href="#" class="hover:opacity-80 transition-opacity">
        <img
          src="/whatsapp-icon.png"
          alt="WhatsApp"
          class="w-5 h-5"
        />
      </a>
    </div>
  </div>
</div>
